.page1 {
    height:48.92%;
    width:100%;
    background-image: url("img/atl.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    display:block;
    text-align: center;
    color:#7c8484;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.page2 {
    width: 100%;
    height: 50%;

}

footer {
    background-color:#444443;
}


ul.menu li{
    display: inline;
    font-size:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul.menu { 
    list-style: none;
    font-size: 15px;
    padding-right: 100px;
    padding-top:0px;
    float:right;
    
}

.logobox {
    display: block;
    padding-top: 80px;
    align-items: center;
    margin:0;
}

#logo {
    font-size: 40px;
    line-height: 0%;
    color: white;
    font: verdana;
    
}

#subtitle {
    font-size: 15px;
    color:#7c8484;
}


.page2 p{
    padding-top:30px;
    padding-bottom:15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    padding-left:15%;
    padding-right:15%;
    padding-bottom:35px;
    text-align: center;
}

#bigger {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
}

#smaller {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color:grey;
    width:80%;
    padding-top:15px;
    padding-bottom:15px;
}

ul.bottom-list li{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height:120%;
    display:inline;
}


ul.bottom-list { 
    padding-top:20px;
    padding-bottom: 10px;
    list-style: none;
    font-size: 13px;
    text-align:center;  
}

p.credit {
    color:grey;
    font-size:10px;
    text-align: center;
    padding-bottom: 20px;
}
